@import url('https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300|Source+Code+Pro&display=swap');


@import url('https://fonts.googleapis.com/css?family=Lato:100,300,400,700|Source+Sans+Pro:300,400,600,700&display=swap');

body {
	--main-font: 'Lato', sans-serif;

	font-family: var(--main-font);
	font-weight: 300;
	background-color: #2a2a2a;
	margin:0px;
	color:#eee;

	--accent-col: #3BD1E9;

	--secondary-font: 'Source Sans Pro', sans-serif;
	--secondary-font-weight:300;
}

a {
	text-decoration-line: none;
}

#page {
	width: 100%;
	display: flex;
	justify-content: center;
}

#content {
	flex-basis: 800px;
	flex-shrink: 1;

	min-height: 80px;

	display: flex;
	flex-direction: column;

	max-width: 940px;
	min-width: 0px;
}

/*@media only screen and (max-width: 900px) {
  #content {
  	width: 100%;
  }
}
*/


img.titlebanner{
	width: 100%;
	margin: 10px 0px 10px 0px;
}


.barra{

	height: 1px;
	background-color: #fff;
	margin-left: 4%;
		width: 92%;

		margin-top:5px;
		margin-bottom:5px;
}

#menu {
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	margin:10px;
}

.menuentry{
	text-align: center;
	font-family: var(--main-font);
	font-weight: 700;
	font-size: 19px;
	font-variant: small-caps;
}

a{
	color:var(--accent-col);
}


#pitch{
	font-family: var(--main-font);
	font-size: 30px;	
	text-align: center;
	margin: 70px;
}

.paragraph{

	font-family: var(--secondary-font);
	font-weight: var(--secondary-font-weight);
	margin: 10px;
	font-size: 1.2em;

	padding: 1em 4em 1em 4em;
	text-align: center;

}

.separator{
	height: 200px;
}

.emphasis{
	color:var(--accent-col);

}

#archive{
	display: flex;
	flex-direction: column;
	align-items: center;
}

.chapterwrapper {
	width: 50%;
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-bottom:2em; 
}

.chapterarchive{
	display: flex;
	justify-content: center;
	flex-direction: row;
}

.chapterpiccontainer {
	width: 100%;
    
}

.chapterpic {
	width: 100%;
}

.chapterarchiveside{
    flex: 0 0 50%;
	display: flex;
	flex-direction: column;
	
}

.chapterarchivetitle{
	font-family: var(--main-font);
	font-weight: 400;
	font-size:30px;
	margin:10px;
}

.chapterarchivelinks{
	width: 100%;
	font-family: var(--secondary-font);
	font-weight: var(--secondary-font-weight);
	font-size:18px;
	text-align: center;
	margin:0px 10px 0px 10px;
}


.chapterarchivelink{
	margin-right:0.9em;
}

#resumereading{
	font-family: var(--main-font);
	font-size: 20px;
	margin:20px;
}

.entry {
	display: flex;
	flex-direction: column;
	position: relative;

}

.chapterstarttitle{
	font-family: var(--main-font);
	font-size: 60px;
	text-align: center;
	margin:20px 0px 10px 0px; 
}

.chapterdate{
	font-family: var(--secondary-font);
	font-weight: var(--secondary-font-weight);
	font-size: 20px;
	margin-bottom: 20px;
	text-align: center;
}

.entrylabel{


	font-family: var(--secondary-font);
	font-weight: var(--secondary-font-weight);

	color: #000;

	position: absolute;
	bottom: -15px;
	right: -70px;
	width: 60px;
	height: 30px;

	background-color: #eee;
	border-radius: 5px;
	

	display: flex;
	justify-content: center;
	align-items: center;
}

@media only screen and (max-width: 900px) {
	.entrylabel{
		right: 0px;
		z-index:1000;
	}
	.chapterarchivelinks{
		font-size: 14px;
	}
}

@media only screen and (max-width: 600px){
		.chapterarchivelinks{
		font-size: 10px;
	}
	.chapterarchivetitle{
		font-size: 20px;
	}
}

.entryinfo {

	max-height: 0px;
	overflow: hidden;
	transition: max-height 0.2s ease-out;

}

.entryinfopanel{
	border-radius: 0px 0px 30px 30px;
	color:#222;
	background-color: #eee;
	margin-bottom:10px;
	padding: 30px;
}

.entrytitle {

	font-family: var(--main-font);
	font-size: 30px;

}


.entrycomment{
	margin: 20px;
}


.comicpic {
	width: 100%;
	
}


.loading {
	background: transparent url('img/egg.gif') center no-repeat;
	height: 500px;
}

.entryimgcontainer{
	background-color: black;
}

.permalinkrow {
	display: flex;
	flex-direction: row;
	align-items: center;
}

.permalink {
	font-family: var(--secondary-font);
	font-weight: var(--secondary-font-weight);
	margin-right:8px;
}

.permalinkicon {
	margin:2px;
}

.hidden {
	display: none;
}

.gonextpage{
	font-family: var(--main-font);
	font-size: 20px;

	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	margin:20px;
}

.nextpagetitle{
	font-size:30px;
	margin: 10px;
}


.seeya{
	margin:50px 30px 50px 30px;
	font-family: var(--main-font);
	font-size: 40px;
	text-align: center;
}



#loadmorecontainer{
	text-align: center;
	margin: 10px;
}

#loadmorebutton{
	background-color: #eee;
	color:#222;
	display: inline-flex;
	justify-content: center;
	align-items: center;
	flex-direction: row;

	padding: 10px;
	border-radius: 10px;
}

#loadmoretext{
	font-family: var(--main-font);
	font-size: 40px;
	text-align: center;

}