@import url('https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300|Source+Code+Pro&display=swap');

body {
	background-color: #111;
	margin:0px;
	color:#eee;

	--accent-col: #D8484D;
}

#page {
	width: 100%;
	display: flex;
	justify-content: center;
}

#content {
	flex-basis: 800px;
	flex-shrink: 1;

	min-height: 80px;

	display: flex;
	flex-direction: column;

	max-width: 940px;
}



img.titlebanner{
	width: 100%;
	margin: 10px 0px 20px 0px;
}


#menu {
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	margin:10px;
}

.menuentry{
	text-align: center;
	font-family: 'Open Sans Condensed', sans-serif;
	font-size: 30px;
}

a{
	color:var(--accent-col);
}


#pitch{
	font-family: 'Open Sans Condensed', sans-serif;
	font-size: 30px;	
	text-align: center;
	margin: 70px;
}

.paragraph{

	font-family: 'Source Code Pro', monospace;
	margin: 10px;

}

.separator{
	height: 200px;
}

.emphasis{
	color:var(--accent-col);

}

.chapterarchive{
	display: flex;
	justify-content: center;
	flex-direction: row;
}

.chapterpic {
	flex-shrink: 0;
}

.chapterarchiveside{
	flex-grow: 1;
	display: flex;
	flex-direction: column;
	padding: 20px;
}

.chapterarchivetitle{
	font-family: 'Open Sans Condensed', sans-serif;
	font-size:30px;
}

.chapterarchivelinks{
	font-family: 'Source Code Pro', monospace;
	font-size:15px;
}


#resumereading{
	font-family: 'Open Sans Condensed', sans-serif;
	font-size: 20px;
	margin:20px;
}

.entry {
	display: flex;
	flex-direction: column;
	position: relative;

}

.chapterstarttitle{
	font-family: 'Open Sans Condensed', sans-serif;
	font-size: 60px;
	text-align: center;
	margin:20px 0px 10px 0px; 
}

.chapterdate{
	font-family: 'Source Code Pro', monospace;
	font-size: 20px;
	margin-bottom: 20px;
	text-align: center;
}

.entrylabel{


	font-family: 'Source Code Pro', monospace;

	color: #000;

	position: absolute;
	bottom: -15px;
	right: -70px;
	width: 60px;
	height: 30px;

	background-color: #eee;
	border-radius: 5px;
	

	display: flex;
	justify-content: center;
	align-items: center;
}

.entryinfo {

	max-height: 0px;
	overflow: hidden;
	transition: max-height 0.2s ease-out;

}

.entryinfopanel{
	border-radius: 0px 0px 30px 30px;
	color:#222;
	background-color: #eee;
	margin-bottom:10px;
	padding: 30px;
}

.entrytitle {

	font-family: 'Open Sans Condensed', sans-serif;
	font-size: 30px;

}



.comicpic {
	width: 100%;
	min-height: 800px;
}


.loading {
	background: transparent url('img/egg.gif') center no-repeat;
}

.entryimgcontainer{
	background-color: black;
}

.permalinkrow {
	display: flex;
	flex-direction: row;
	align-items: center;
}

.permalink {
	font-family: 'Source Code Pro', monospace;
	margin-right:8px;
}

.permalinkicon {
	margin:2px;
}

.hidden {
	display: none;
}

.gonextpage{
	font-family: 'Open Sans Condensed', sans-serif;
	font-size: 20px;

	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	margin:20px;
}

.nextpagetitle{
	font-size:30px;
	margin: 10px;
}


.seeya{
	margin:50px 30px 50px 30px;
	font-family: 'Open Sans Condensed', sans-serif;
	font-size: 40px;
	text-align: center;
}



#loadmorecontainer{
	text-align: center;
	margin: 10px;
}

#loadmorebutton{
	background-color: #eee;
	color:#222;
	display: inline-flex;
	justify-content: center;
	align-items: center;
	flex-direction: row;

	padding: 10px;
	border-radius: 10px;
}

#loadmoretext{
	font-family: 'Open Sans Condensed', sans-serif;
	font-size: 40px;
	text-align: center;

}