.gutta-navbar {
    text-transform: lowercase;
    font-variant: small-caps;
}

.gutta-navitem {
    font-family: 'Nunito', sans-serif;
    font-size: 30px;
    font-weight: 300;
}

.cactus-button {
    background-color: $color-links !important;
}