.gutta-navbar {
    text-transform: lowercase;
    font-variant: small-caps;
}

.gutta-navitem {
    font-size: 19px;
    font-weight: 700;
}

.cactus-button {
    background-color: $color-links !important;
}