$color-bg: #252525;
$color-fg: #eee;
$color-links: #3BD1E9;
$color-links-hover: #d196ec;
$color-navlinks: $color-links;
$color-navlinks-hover: $color-links-hover;
$color-galleryentry-bg: #181818;

$color-scrollcontent-bg: black;

@import url('https://fonts.googleapis.com/css2?family=Flamenco:wght@300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

$font-main: 'Flamenco', serif;
$font-weight-main: 400;
$root-font-size: 18px; 
$font-text: 'Nunito', sans-serif;
$font-weight-text: 300;


$gallery-columns-xs: 1;
$gallery-columns-sm: 2;
$gallery-columns-md: 2;
$gallery-columns-lg: 3;